<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col" style="padding: 20px; flex-basis: 25%;">
            <div class="card card-width">
                <img src="../../../../assets/img/icici-bank.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-title text-center title">ICICI Bank</div>
                    <table class="table table-bordered">
                        <tbody class="price">
                            <tr>
                                <th>Loan Amount</th>
                                <th>: $ 60 Lakhs</th>
                            </tr>
                            <tr>
                                <th>Tenure</th>
                                <th>: 30 Years</th>
                            </tr>
                            <tr>
                                <th>EMI</th>
                                <th>: $ 47416</th>
                            </tr>
                            <tr>
                                <th>Interest Rate</th>
                                <th>: 8.8%</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-success">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 20px; flex-basis: 25%;">
            <div class="card card-width">
                <img src="../../../../assets/img/boi-bank.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-title text-center title">BOI Bank</div>
                    <table class="table table-bordered">
                        <tbody class="price">
                            <tr>
                                <th>Loan Amount</th>
                                <th>: $ 60 Lakhs</th>
                            </tr>
                            <tr>
                                <th>Tenure</th>
                                <th>: 30 Years</th>
                            </tr>
                            <tr>
                                <th>EMI</th>
                                <th>: $ 47416</th>
                            </tr>
                            <tr>
                                <th>Interest Rate</th>
                                <th>: 8.8%</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-success">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 20px; flex-basis: 25%;">
            <div class="card card-width">
                <img src="../../../../assets/img/pnb-bank.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-title text-center title">PNB Bank</div>
                    <table class="table table-bordered">
                        <tbody class="price">
                            <tr>
                                <th>Loan Amount</th>
                                <th>: $ 60 Lakhs</th>
                            </tr>
                            <tr>
                                <th>Tenure</th>
                                <th>: 30 Years</th>
                            </tr>
                            <tr>
                                <th>EMI</th>
                                <th>: $ 47416</th>
                            </tr>
                            <tr>
                                <th>Interest Rate</th>
                                <th>: 8.8%</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-success">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>