.margin-top-10 {
   margin-top: 15px;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
   background: #5f9ea0 !important;
}

.btn-action {
   background-color: #5f9ea0;
}

.btn-previous {
   background-color: #5f9ea080;
}

.p-steps .p-steps-item .p-menuitem-link {
   background: #d7e7e7;
}

.card {
   background-color: #5f9ea040;
}